<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developer.hare.tworaveler">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WriteEXTERNAL_STORAGE" />

    <!-- android:theme="@style/Theme.AppCompat" -->
    <application
        android:name=".Application.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher_tworaveler"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon_launcher_tworaveler"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!--
            RxPaparazzo
           provider 추가
           저장 경로에 대한 설정
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- xml/rx_paparazzo_file_path 에 정의되어 있는 이 경로로 파일을 저장하겠다 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rx_paparazzo_file_paths" />
        </provider>

        <!-- 4 -->
        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Main"
            android:label="@string/navigation_title_activity_home"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".Activity.SignIn"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activity.SignUp"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activity.BagDelete"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Activity.SearchCity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Activity.SearchFeed"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Activity.MyProfileSet"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activity.BigImage"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Activity.Regist"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".Activity.RegistDetail" />
        <activity android:name=".Activity.RegistDayList" />
        <activity
            android:name=".Activity.RegistDayDetail"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".Activity.MyScheduleModify" />
        <activity
            android:name=".Activity.Comment"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
    </application>

</manifest>